<div class="dashboard">
    <h1>Data Center Dashboard</h1>

    <div class="status-container">
        <!-- Server Part -->
        <div class="server-part">
            <h2>Server Part</h2>
            <div class="flex-content">
                <p style="color: brown;"><strong style="color: brown;">Total Host:</strong> {{ totalCount }}</p>
                <p style="color: brown;"><strong style="color: brown;">Total VM:</strong> {{ totalVMCount }}</p>
                <p><strong>Active AMC:</strong> {{ activeCount }}</p>
                <p><strong>Expired AMC:</strong> {{ expiredCount }}</p>
            </div>
        </div>

        <!-- Network Part -->
        <div class="network-part">
            <h2>Network Part</h2>
            <div class="flex-content">
                <p style="color: brown;"><strong style="color: brown;">Total Network:</strong> {{ totalNetworkCount }}</p>
                <p></p>
              
                <p><strong>Old Zone:</strong> {{ totalOldCount }}</p>
                <p><strong>DMZ Zone:</strong> {{ totalDMZCount }}</p>
                <p><strong>BB Zone:</strong> {{ totalBBCount }}</p>
                <p><strong>MZ Zone:</strong> {{ totalMZCount }}</p>
                <p><strong>Extranet Zone:</strong> {{ totalExtranetCount }}</p>
                <p><strong>Swift Zone:</strong> {{ totalSwiftCount }}</p>
            </div>
        </div>
    </div>
</div>


<div class="dashboard">
    <h1>Data Recovery Center Dashboard</h1>

    <div class="status-container">
        <!-- Server Part -->
        <div class="server-part">
            <h2>Server Part</h2>
            <div class="flex-content">
                <p style="color: brown;"><strong style="color: brown;">Total Host:</strong> {{ totalCount }}</p>
                <p style="color: brown;"><strong style="color: brown;">Total VM:</strong> {{ totalVMCount }}</p>
                <p><strong>Active AMC:</strong> {{ activeCount }}</p>
                <p><strong>Expired AMC:</strong> {{ expiredCount }}</p>
                
            </div>
        </div>

        <!-- Network Part -->
        <div class="network-part">
            <h2>Network Part</h2>
            <div class="flex-content">
                <p style="color: brown;"><strong style="color: brown;">Total Network:</strong> {{ totalNetworkCount }}</p>
                <p></p>
              
                <p><strong>Old Zone:</strong> {{ totalOldCount }}</p>
                <p><strong>DMZ Zone:</strong> {{ totalDMZCount }}</p>
                <p><strong>BB Zone:</strong> {{ totalBBCount }}</p>
                <p><strong>MZ Zone:</strong> {{ totalMZCount }}</p>
                <p><strong>Extranet Zone:</strong> {{ totalExtranetCount }}</p>
                <p><strong>Swift Zone:</strong> {{ totalSwiftCount }}</p>
            </div>
        </div>
    </div>
</div>
